img.circle {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.projects {
    padding-bottom: 10px;
}

.c-pointer {
    cursor: pointer;
}

.card-projects-list .card {
    margin-top: 10px;
    min-height: 300px;
}

.card-projects-list .card .card-title {
    margin-top: 270px;
}

.card-projects-list .card .card-img-overlay {
    max-height: 300px;
}

.menu-icon {
    margin-right: 20px;
}

.autocomplete-search {
    position:absolute;
    right: 325px;
    margin-top: -15px;
    top: unset;
    left: unset;
    display: block;
    width: 200px;
}

img.profile-pic {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    border: 1px solid black;
}